<section class="signup-form">
  <!--template driven form-->
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="your email"
        ngModel name="email"
        required
        email
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Email is invalid</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
        type="password"
        matInput placeholder="your password"
        ngModel name="password"
        required
        minlength="6"
        #passInput="ngModel">
      <mat-hint align="end"> {{ passInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="your birthday"
        [matDatepicker]="picker" [max]="maxDate" ngModel required name="picker"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox name="agree" ngModel required>Agree to terms and conditions</mat-checkbox>
    <button [disabled]="f.invalid" type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
